{% extends 'base.html.twig' %}

{% block title %}Detalles de la Propiedades{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}


<div class="container">
    <br>
    <a href="{{ path('admin_list_properties') }}" class="btn btn-primary">Volver</a>
    <h3>DETALLES DE LA PROPIEDAD</h3>
    <p>Identificador: {{ property.id }}</p>
    <p>Titulo: {{ property.title }}</p>
    <p>Descripci칩n: {{ property.description }}</p>
    <p>Precio: {{ property.prize }}</p>
    <p>Habitaciones: {{ property.rooms }}</p>
    <p>Ba침os: {{ property.bathrooms }}</p>
    <p>Aseos: {{ property.toilets }}</p>
    <p>Tama침o (m2): {{ property.size }}</p>
    <p>Tama침o parcela: {{ property.plotSize }}</p>
    <p>Provincia: {{ property.province }}</p>
</div>
{% endblock %}
